<h1>Edit Task</h1>

<%= form_with model: @taskn do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  </p>

  <p>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :priority %>
    <%= f.select :priority, ["H", "M", "L"] %>
  </p>

  <%= f.submit "Update Task" %>

<% end %>